pip>=25.2
setuptools>=75.0
wheel>=0.44
streamlit
pandas
numpy
matplotlib
plotly
Pillow
folium
streamlit-folium
transformers==4.41.2
geopy
requests
html2image
qrcode
streamlit-option-menu
torch
google-generativeai